<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <title>Admin</title>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

        <div id="msg">
            <h3>
               <%= message %>
            </h3>  
        </div>

    <form id="admin" action="/admin" method="post">
        <h3>Opret et Produkt</h3>
        <input type="hidden" name="id" value="">
        <p>
        Arrangement navn:
        </p>
        <input type="text" name="name" value="">
        <br>
        <p>
        Arrangement pris:
         </p>  
        <input type="text" name="price" value="">
        <br>
        <p>
        Arrangement info:
        </p>
        <textarea type="text" name="info"></textarea>
        <br>
        <p>
         Produkt kategori:
        </p>
        <select name="select_catch">
            <option value="1">Adidas</option>
            <option value="2">New York</option>
            <option value="3">Nike</option>
        </select>
        <button type="submit" id="submit" name="submit">Gem</button>
      </form>

      <form id="ret" action="/gem_ret" method="post">
        <h3>Redigere et Produkt</h3>
        <input type="hidden" name="id" value="<%= produkter[0].id %>">
        <p>
        Arrangement navn:
        </p>
        <input type="text" name="name" value="<%= produkter[0].navn %>">
        <br>
        <p>
        Arrangement pris:
         </p>  
        <input type="text" name="price" value="<%= produkter[0].pris %>">
        <br>
        <p>
        Arrangement info:
        </p>
        <textarea type="text" name="info"><%= produkter[0].info %></textarea>
        <br>
        <p>
         Produkt kategori:
        </p>
        <select name="select_catch">
            <option value="1">Adidas</option>
            <option value="2">New York</option>
            <option value="3">Nike</option>
        </select>
        <button type="submit" id="submit" name="submit">Gem</button>
      </form>

      

    <div id="create">
            <% produkter.forEach(function(produkter_data){ %>
                <a href="ret?id=<%= produkter_data.id %>"><i class="fas fa-pencil-alt"></i></a> 
                <a href="slet?id=<%= produkter_data.id %>" name="delete"><i class="far fa-trash-alt"></i></a>
                <h1>ID: <%= produkter_data.id %></h1>
                <h3><%= produkter_data.navn %><h3>
                <h4><%= produkter_data.pris %> kr.</h4>
                <p><%= produkter_data.info %></p>
            <% })%>
        </div>

    <% include ../partials/javascript %>
    
</body>
</html>